---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main>
    	<h1>contact</h1>

        <p>you can contact me at <a href="mailto:lunar@lunartides.dev">lunar@lunartides.dev</a> for general stuff or <a href="mailto:support@lunartides.dev">support@lunartides.dev</a> for support on one of my projects or <a href="mailto:privacy@lunartides.dev">privacy@lunartides.dev</a> for privacy related stuff</p>
        <p>i have an account on <a href="https://github.com/LunarTides">github</a> and <a href="https://www.youtube.com/@LunarTidesDev">youtube</a>. i don't use other social media. my username is usually <code>LunarTides</code> or <code>LunarTidesDev</code> if the former is taken</p>
    </main>
</Layout>
