---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main>
        <h1>home</h1>
        <p>hi, i'm lunartides! i'm a self-learned programmer whose been interested in programming since ~2015</p>
        <p>i mainly make things in typescript, but i try out other programming languages when i have the chance</p>
        <p>i make, maintain, and host this website and other projects myself, with next to no support from ai if i can help it</p>
        <p>i'm mainly working on <a href="https://hs.lunartides.dev">hearthstone.js</a></p>
        <br>
        <p>i do some other creative stuff on the side, but i dont publish any of it. maybe one day</p>
        <p>i don't really care much about operating a server, since it's painful, but i do it anyways. why? well maybe i like the pain</p>
        <!-- nice one! way to go! you did it! wow, ball?! -->
        <p>praise the fool</p>
        <br>
        <p>hi :3c</p>
    </main>
</Layout>
