{
	# Get production certificate. Remove in staging.
	# acme_ca https://acme-v02.api.letsencrypt.org/directory
}

(@deny-blocked) {
	# Only allow the whitelisted ip.
	@denied not header X-Forwarded-For {$WHITELISTED_IP}

	handle @denied {
		header Content-Type text/html
		respond <<HTML
			<html>
				<head>
					<title>Access Denied</title>
					<style>
						body {
							background-color: black;
						}

						p {
							color: white;
							font-size: 3rem;
						}

						a {
							text-decoration: none;
							color: black;
							padding: 1rem 3rem 1rem 3rem;
							font-size: 2rem;
							background-color: #ccc;
							border-radius: 8px;
						}

						a:hover {
							background-color: #fff;
						}

						a:active {
							background-color: #999;
						}
					</style>
				</head>
				<body>
						<p>You are not allowed access to this site. Sorry about that!</p>
						<a href="https://lunartides.dev">Back</a>
				</body>
			</html>
			HTML 403
	}
}

cloud.lunartides.dev {
	tls {
		# Temporarily use cloudflare dns.
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
	}

	import @deny-blocked

	# reverse_proxy http://nextcloud-aio-domaincheck:11000
	reverse_proxy http://nextcloud-aio-apache:11000
}

vault.lunartides.dev {
	tls {
		# Temporarily use cloudflare dns.
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
	}

	handle /admin* {
		import @deny-blocked
	}

	reverse_proxy vaultwarden:80 {
		header_up X-Real-IP {remote_host}
	}
}

hs.lunartides.dev {
	tls {
		# Temporarily use cloudflare dns.
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
	}

	@registry path_regexp registry ^/registry(/.*)?$
	handle @registry {
		# TODO: Remove once the registry is stable.
		# Only allow the whitelisted ip.
		@denied not header X-Forwarded-For {$WHITELISTED_IP}

		handle @denied {
			# Send the request to the `registry-blocked` page in the docs.
			root * /var/www/docs
			try_files registry-blocked registry-blocked/index.html =404
			file_server
		}

		reverse_proxy http://registry-frontend:80
	}

	handle {
		root * /var/www/docs
		try_files {path} {path}/index.html =404
		file_server
	}
}

lunartides.dev {
	tls {
		# Temporarily use cloudflare dns.
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
	}

	root * /var/www/website
	file_server
}
