services:
  vaultwarden:
    image: vaultwarden/server:1.35.2
    container_name: vaultwarden
    restart: unless-stopped
    environment:
      DOMAIN: "https://vault.lunartides.dev"
    env_file:
      - .env
    volumes:
      - ./vw-data/:/data/
    networks:
      - vaultwarden
networks:
  vaultwarden:
    name: vaultwarden
